# Directories
node_modules
coverage
dist
build

# Files
*.log
.DS_Store

# webstorm
.idea

# yalc
.yalc
yalc.lock

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# biome does not support nested ignore files
/packages/md.icons/src
/packages/md.icons/cjs
/packages/md.icons/es
