.grid {
  display: flex;
  flex-wrap: wrap;

  &.isNameShown {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 230px));
    grid-gap: 0.5rem;
  }
}

.cell {
  display: flex;
  align-items: center;
  padding: 0.5em;
  transition: background 100ms ease;
  cursor: pointer;
  line-height: normal;

  & :global(.ms-TooltipHost) {
    line-height: 0;
  }

  &:focus {
    background: #1a1a1a;
    color: #eee !important;
    outline: none;
    border-radius: 3px;
  }
}

.bar {
  margin-top: 0.5em;
  display: flex;
}

.toggle {
  display: flex;
  align-items: center;
  margin: 0.5em 1em 0 0;

  & label {
    margin-right: 0.5em;
  }
}

.name {
  display: none;
  margin-left: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @nest .isNameShown & {
    display: inline-block;
  }
}

.searchBox {
  margin: 1em 0;

  & label {
    cursor: pointer;
  }

  & label + label {
    margin-left: 1em;
  }

  & label input {
    margin-right: 0.5em;
  }
}

.searchInput {
  width: 100%;
  line-height: 2;
  padding: 0 0.5em;
}

.callout {
  box-shadow: none;
  min-width: 300px;
  pointer-events: none;

  & svg {
    /* border: 1px dashed #ccc; */
  }
}
